<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="OverAllKnnGraphBin" value="G:\siret\zoot\protobuf\local-conv5-mappedBackToFileNames-For-Lada.bin"/>
    <add key="FilteredPatchesBin" value="G:\siret\zoot\protobuf\local-conv5-cleaned-shrinked-patchClusters.bin"/>
  </appSettings>
</configuration>
